.format {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

#home {
  background: #FFF5EE;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: black;
}

h1{
  text-align: center;
}

h2, h3, h4{
  text-align: justify;
}

img{
  margin: 0;
}